variables:
    GIT_STRATEGY: clone

stages:
  - test
    
before_script:

gcc_w/o_OpenBLAS:
  stage: test
  image: 0b158dd36e5c
  script:
  - git submodule sync --recursive
  - git submodule update --init --recursive
  - export LD_LIBRARY_PATH=/opt/OpenBLAS/lib/libopenblas_armv8p-r0.3.10.dev.so
  - ./build_xed.sh
  - export LD_LIBRARY_PATH=${XED_ROOT_DIR}/lib:${LD_LIBRARY_PATH}
  - echo $XED_ROOT_DIR
  - echo $LD_LIBRARY_PATH
  - mkdir build_aarch64
  - cd build_aarch64
  - cmake -DDNNL_INDIRECT_JIT_AARCH64=ON .. 
  - make -j48
  - cd tests/gtests
  - ctest
#  - ctest -R test_concat
#  - cd ../benchdnn
#  - ./benchdnn --conv --batch=inputs/conv_resnet_50
#  - ./benchdnn --bnorm --batch=inputs/bnorm/bnorm_resnet_50
#  tags:
#    - instruction_unit

gcc_w/_OpenBLAS:
  stage: test
  image: 0b158dd36e5c
  script:
  - git submodule sync --recursive
  - git submodule update --init --recursive
  - export LD_LIBRARY_PATH=/opt/OpenBLAS/lib/libopenblas_armv8p-r0.3.10.dev.so
  - ./build_xed.sh
  - export LD_LIBRARY_PATH=${XED_ROOT_DIR}/lib:${LD_LIBRARY_PATH}
  - mkdir build_aarch64
  - cd build_aarch64/
  - cmake -DDNNL_INDIRECT_JIT_AARCH64=ON -DWITH_BLAS=openblas ..
  - make -j48
  - cd tests/gtests
  - ctest
#  - ctest -R test_concat
#  - cd ../benchdnn
#  - ./benchdnn --conv --batch=inputs/conv_resnet_50
#  - ./benchdnn --bnorm --batch=inputs/bnorm/bnorm_resnet_50
#  tags:
#    - instruction_unit

fcc_w/o_SSL2:
  stage: test
  image: 0b158dd36e5c
  script:
  - git submodule sync --recursive
  - git submodule update --init --recursive
  - PATH=${PATH}:/opt/FJSVstclanga/v1.0.0/bin
  - export LD_LIBRARY_PATH=/opt/FJSVstclanga/v1.0.0/lib64:/usr/lib64/libcblas.so
  - export CC="fcc -Nclang -Knolargepage"
  - export CXX="FCC -Nclang -Knolargepage"
  - ./build_xed.sh
  - export LD_LIBRARY_PATH=${XED_ROOT_DIR}/lib:${LD_LIBRARY_PATH}
  - mkdir build_aarch64
  - cd build_aarch64/
  - cmake -DDNNL_INDIRECT_JIT_AARCH64=ON ..
  - make -j48
  - cd tests/gtests
  - ctest
#  - ctest -R test_concat
#  - cd ../benchdnn
#  - ./benchdnn --conv --batch=inputs/conv_resnet_50
#  - ./benchdnn --bnorm --batch=inputs/bnorm/bnorm_resnet_50
#  tags:
#    - instruction_unit

fcc_w/_SSL2:
  stage: test
  image: 0b158dd36e5c
  script:
  - git submodule sync --recursive
  - git submodule update --init --recursive
  - PATH=${PATH}:/opt/FJSVstclanga/v1.0.0/bin
  - export LD_LIBRARY_PATH=/opt/FJSVstclanga/v1.0.0/lib64:/usr/lib64/libcblas.so
  - export CC="fcc -Nclang -Knolargepage"
  - export CXX="FCC -Nclang -Knolargepage"
  - ./build_xed.sh
  - export LD_LIBRARY_PATH=${XED_ROOT_DIR}/lib:${LD_LIBRARY_PATH}
  - mkdir build_aarch64
  - cd build_aarch64/
  - cmake -DDNNL_INDIRECT_JIT_AARCH64=ON -DWITH_BLAS=ssl2 ..
  - make -j48
  - cd tests/gtests
  - FLIB_SCCR_CNTL=FALSE ctest -j 4
#  - ctest
#  - ctest -R test_concat
#  - cd ../benchdnn
#  - ./benchdnn --conv --batch=inputs/conv_resnet_50
#  - ./benchdnn --bnorm --batch=inputs/bnorm/bnorm_resnet_50
#  tags:
#    - instruction_unit